<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
             <link href="{{ asset('Resources/bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
             <link href="{{ asset('Resources/bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
             <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
         {% endblock %}

         {% block javascripts %}
          <script src="{{ asset('Resources/bootstrap/js/bootstrap.js') }}" type="text/javascript"></script>

         {% endblock %}
        
    </head>
    <body style="background-color:#DFDEDE">
             <div class="container" style="background-color:white">


             {% block header %}
                 <div class="page-header">
                        <div class="row ">
                            <div class="col-lg-1 col-lg-offset-1">
                                <!--img src="{{ asset('Resources/img/logo.jpg') }}"--> 
                            </div> 
                            <div class="col-lg-4 col-lg-offset-6">
                               
                                 <ul class="nav nav-tabs">
                                  <li role="navigation" class="active"><a href="#">Home</a></li>
                                  
                                  {% if session.login is defined %}
                                      <li role="navigation"><a href="#">Profile</a></li>
                                      <li role="navigation"><a href="#">Messages</a></li>
                                      <li role="navigation"><a href="#">Covoiturage</a></li>
                                      <li role="navigation"><a href="#">Notifications</a></li>
                                  
                                  {%  else %}
                                     <li role="navigation"><a href="#">Se connecter</a></li>
                                     <li role="navigation"><a href="#">S'inscrire</a></li>
                                 {% endif  %}
                                  <li role="navigation"><a href="#">Guide</a></li>
                                </ul> 
                            </div> 

                        </div>
                  </div>

             {% endblock header %}

             {% block content %}

             {% endblock content %}

             {% block footer %}
                  <div class="page-header">
                    
                 </div>
               
              
             {% endblock footer%}
        
        
        
    </body>
</html>
